{{#if addNewListing}}

<div>
  <form>
    <div class="form-group">
      <label for="listingName">Name</label>
      {{input value=listingName id="listingName"}}
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      {{input value=address id="address"}}
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      {{input value=phone id="phone"}}
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=image id="image"}}
    </div>
    <div class="form-group">
      <label for="latitude">Latitude</label>
      {{input value=latitude id="latitude"}}
    </div>
    
    <div class="form-group">
      <label for="longitude">Longitude</label>
      {{input value=longitude id="longitude"}}
    </div>

    <button {{action 'save' business}}>Save</button>
  </form>
</div>

{{else}}
<button {{action 'listingFormShow'}}>Add Listing</button>
{{/if}}

{{yield}}
